<%= render "shared/sub-header" %>
<div class="form-wrap">
  <div class="form-top">
    <h1 class="h3 mb-3 fw-normal">課題帳名変更</h1>
  </div>
  <%= form_with model: @problem_list, url: gym_problem_list_path, local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
    <div class="contact">
      <div class="input-month-wrap">
        <label for="exampleFormControlInput1" class="form-label">課題帳名</label>
        <%= f.text_field :name, class:"form-control", id:"name" ,placeholder:"例) ○月マンスリー" %>
      </div>
      <%= f.submit "変更する" ,class:"btn btn-secondary submit-btn btn-margin" %>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>