<div class="check-list-top">
  <h1 class="h3 mb-3 fw-normal">チェックシート</h1>
</div>

<div class="problems-box">
  <div class="grade-problems">
    <div class="problem5">6級</div>
    <% @problems2.each do |problem| %>
      <%= link_to problem.name, gym_problem_list_problem_results_path(@gym, @problem_list ,problem), class: "btn btn-outline-dark btn-size12" %>
    <% end %>
  </div>
  <div class="grade-problems">
    <div class="problem5">5級</div>
    <% @problems3.each do |problem| %>
      <%= link_to problem.name, gym_problem_list_problem_results_path(@gym, @problem_list ,problem), class: "btn btn-outline-dark btn-size12" %>
    <% end %>
  </div>
  <div class="grade-problems">
    <div class="problem5">4級</div>
    <% @problems4.each do |problem| %>
      <%= link_to problem.name, gym_problem_list_problem_results_path(@gym, @problem_list ,problem), class: "btn btn-outline-dark btn-size12" %>
    <% end %>
  </div>
  <div class="grade-problems">
    <div class="problem5">3級</div>
    <% @problems5.each do |problem| %>
      <%= link_to problem.name, gym_problem_list_problem_results_path(@gym, @problem_list ,problem), class: "btn btn-outline-dark btn-size12" %>
    <% end %>
  </div>
  <div class="grade-problems">
    <div class="problem5">2級</div>
    <% @problems6.each do |problem| %>
      <%= link_to problem.name, gym_problem_list_problem_results_path(@gym, @problem_list ,problem), class: "btn btn-outline-dark btn-size12" %>
    <% end %>
  </div>
  <div class="grade-problems">
    <div class="problem5">1級</div>
    <% @problems7.each do |problem| %>
      <%= link_to problem.name, gym_problem_list_problem_results_path(@gym, @problem_list ,problem), class: "btn btn-outline-dark btn-size12" %>
    <% end %>
  </div>
  <div class="grade-problems">
    <div class="problem5">初段</div>
    <% @problems8.each do |problem| %>
      <%= link_to problem.name, gym_problem_list_problem_results_path(@gym, @problem_list ,problem), class: "btn btn-outline-dark btn-size12" %>
    <% end %>
  </div>
</div>