<div class="sub-header">
  <div class="header-logo">
    <%= link_to image_tag("logo.png" ,size:"120x40" ,class:"nav-brand"), root_path %>
  </div>
  <div class="header-right">
    <% if admin_signed_in? %>
      <div class="list-btn">
        <%= link_to "LOG OUT", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark btn-size2" %>
      </div>
      <% unless request.path.include?("admins") %>
        <div class="list-btn">
          <%= link_to "ADMIN PAGE", admin_path(current_admin), class: "btn btn-outline-dark btn-size2" %>
        </div>
      <% end %>
      <div class="list-btn">
        <%= link_to "ADD NEW GYM", new_gym_path, class: "btn btn-outline-dark btn-size2" %>
      </div>
    <% else %>
      <div class="list-btn">
        <%= link_to "PARTNERS LOG IN", admin_session_path, class: "btn btn-outline-dark btn-size3" %>
      </div>
    <% end %>
  </div>
</div>