<%= render "shared/header" %>

<div class="main">

  <%# トップ画像を表示 %>
  <div class="top-contents">
    <%= image_tag("top.jpg", class:"top-image") %>
  </div>
  <div class="top-contents">
    <%= image_tag("top2.png", class:"top-image2") %>
  </div>
  <%# /トップ画像を表示 %>

  <%# aboutを表示 %>
  <div class="about-contents" id="about">
    <h1>About</h1>
    <p class="about-text">
      Boltyとは、ボルダリングにおける能力を数値化しレーダーチャートで表示、管理するためのアプリです。
      自分自身の能力を可視化することにより、強みや今後の課題が明確になります。
    </p>
  </div>
  <%# /aboutを表示 %>

  <%# how toを表示 %>
  <div class="container" id="howto">
    <h1>How To</h1>
    <div class="row">
      <div class="col-lg">
        <%= image_tag("step1.png" ,size:"280x280", class:"step-img") %>
        <p class="step-text">まずはユーザー登録！</p>
      </div>
      <div class="col-lg">
        <%= image_tag("step2.png" ,size:"280x280", class:"step-img") %>
        <p class="step-text">ジムを検索して課題にトライ！</p>
      </div>
      <div class="col-lg">
        <%= image_tag("step3.png" ,size:"280x280", class:"step-img") %>
        <p class="step-text">チェックシートに完登数を登録！</p>
      </div>
    </div>
  </div>
  <%# /how toを表示 %>

  <%# pick up gymsを表示 %>
  <%= render "homes/pick-gyms" %> 
  <%# /pick up gymsを表示 %>

  <%# gym listを表示 %>
  <%= render "homes/gym-list" %> 
  <%# /gym listを表示 %>

  <div class="contact2" id="contact">
    <h1>Contact</h1>
    <div class="list-btn">
      <%= link_to "ジム経営者の方はこちら", partners_new_path, class: "btn btn-outline-dark btn-size4" %>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">お名前(全角)</label>
      <input type="name" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">メールアドレス</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">タイトル</label>
      <input type="subject" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">お問合せ内容</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary submit-btn">送信する</button>
  </div>
</div>

<%= render "shared/sub-footer" %>
<%= render "shared/footer" %>