<%= render "shared/sub-header" %>
<div class="form-wrap">
  <div class="form-top">
    <h1 class="h3 mb-3 fw-normal">ジム情報を編集する</h1>
  </div>
  <%= form_with model: @gym, local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
    <div class="contact">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ジム画像</label>
        <%= f.label :image, "image(ファイルを選択する)",class: "btn btn-outline-dark btn-size6"  %>
        <%= f.file_field :image, style:"display:none;" %>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ジム名</label>
        <%= f.text_field :name, class:"form-control", id:"name" ,placeholder:"例) 〇〇クライミングジム" %>
      </div>
      <div class="mb-3">
        <label class="form-label">住所</label>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box form-margin2", id:"gym-prefecture"}) %>
        <%= f.text_field :city_name, class:"form-control form-margin2", id:"city-name", placeholder:"例) 大阪市中央区" %>
        <%= f.text_field :street, class:"form-control form-margin2", id:"street", placeholder:"例) 本町1-1-1" %>
        <%= f.text_field :building_name, class:"form-control form-margin2", id:"building-name", placeholder:"例) 本町ビル1階" %>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ジムページのURL</label>
        <%= f.text_area :gym_url, class:"form-control form-padding", id:"gym_url", placeholder:"例) https://bouldering-ability.com" %>
      </div>
      <%= f.submit "変更する" ,class:"btn btn-secondary submit-btn btn-margin" %>
      <%= link_to "戻る", admin_path(@gym.admin), class: "btn btn-outline-dark submit-btn2" %>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>